:root {
    --brown: rgba(92,55,47,255);
    --red: rgba(209,65,36,255);
    --silver: rgb(220,220,220);
    --GreenGray: rgb(47,79,79);
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation bar */

@font-face {
    font-family: BrunoAce;
    src: url(/font/BrunoAce-Regular.ttf);
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.NavigationBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: var(--brown);
}

.NavigationBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.NavigationBar ul li {
    padding: 10px 30px;
    position: relative;
}

.NavigationBar ul li a {
    color: var(--silver);
    font-family: "BrunoAce";
    text-decoration: none;
}

.DropDownMenu {
    display: none;
}

.NavigationBar ul li:hover .DropDownMenu {
    display: block;
    position: absolute;
    right: 0;
    list-style: none;
    top: 100%;
    background-color: var(--brown);
    width: 180px;
}

.DropDownMenu ul {
    display: block;
    margin: 10px;
    position: relative;
    right: 10px;
}

.DropDownMenu ul li a {
    padding: 10px 0px;
    cursor: pointer;
}

#Icon {
    position: relative;
    right: 20px;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    color: #fff;
    cursor: pointer;
    display: block;
}

#AboutUsButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: rgb(220,220,220);
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
}

#AboutUsButton:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

#HomeButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: rgb(220,220,220);
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
}

#HomeButton:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

#GalleryButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: rgb(220,220,220);
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
}

#GalleryButton:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

.Container {
    width: 85vmin;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 30px solid var(--GreenGray);
    -webkit-box-shadow: 10px 25px 30px var(--GreenGray, 0.2);
            box-shadow: 10px 25px 30px var(--GreenGray, 0.2);
}

.Wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: Slide 16s infinite;
            animation: Slide 16s infinite;
}

.Wrapper img {
    width: 100%;
}

@-webkit-keyframes Slide {
    0% {-webkit-transform: translateX(0%);transform: translateX(0%);}
    25% {-webkit-transform: translateX(0%);transform: translateX(0%);}
    30% {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
    50% {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
    55% {-webkit-transform: translateX(-200%);transform: translateX(-200%);}
    75% {-webkit-transform: translateX(-200%);transform: translateX(-200%);}
    80% {-webkit-transform: translateX(-300%);transform: translateX(-300%);}
    100% {-webkit-transform: translateX(-300%);transform: translateX(-300%);}
}

@keyframes Slide {
    0% {-webkit-transform: translateX(0%);transform: translateX(0%);}
    25% {-webkit-transform: translateX(0%);transform: translateX(0%);}
    30% {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
    50% {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
    55% {-webkit-transform: translateX(-200%);transform: translateX(-200%);}
    75% {-webkit-transform: translateX(-200%);transform: translateX(-200%);}
    80% {-webkit-transform: translateX(-300%);transform: translateX(-300%);}
    100% {-webkit-transform: translateX(-300%);transform: translateX(-300%);}
}

/* End */

footer {
    width: 100%;
    height: 500px;
}

#P6 {
    width: 100%;
    height: 200px;
    background-color: var(--silver);
    color: var(--silver);
}

.BottomPart {
    background-color: black;
    height: 300px;
}

.Icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: inline-block;
    position: relative;
    margin-left: 34%;
    margin-right: 34%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 50px;
}

.Icons i {
    font-size: 70px;
    padding: 0px 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: var(--silver);
}

.Icons i:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

#P7 {
    color: var(--silver);
    position: relative;
    top: 200px;
    text-align: center;
}